body {
  background-color: #0d0d0d;
  color: #b3b3b3;
}

a:link {
  color: #80ccff;
}

a:visited {
  color: #9999ff;
}

textarea {
  background-color: #e6e6e6;
}

.responsive {
  width: 80%;
  height: auto;
}

.bold {
  font-weight: bold;
}

.unread {
  color: #9999ff;
}

.mus {
  color: #ff33dd;
}

.coder {
  color: #80ccff;
}