body {
  background-color: black;
  color: #b3b3b3;
}

a:link {
  color: #80ccff;
}

a:visited {
  color: #9999ff;
}

.responsive {
  width: 80%;
  height: auto;
}

.bold {
  font-weight: bold;
}

.unread {
  color: #9999ff;
}

.mus {
  color: #ff33dd;
}

.coder {
  color: #80ccff;
}