<!DOCTYPE html>

<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listen & debug</title>
    </head>

    <body>
        <h2>Welcome to the world of musician and coder</h2>

          <div class="center">
            {% if logged_user %}
            <h4>Logged in as musician</h4>
            <form action="{{  url_for('main.main_logout')  }}" method="POST">
                <a id="nav_home" href="{{  url_for('main.index')  }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="nav_chat" href="{{  url_for('main.index')  }}">Chat Room</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="nav_gallery" href="{{  url_for('main.index')  }}">Gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="nav_logout" type="submit" value="Logout"></form>
            {% else %}
              <a id="nav_home" href="{{  url_for('main.index')  }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a id="home_login" href="{{  url_for('main.login')  }}">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}

            <br><br>
            {% block content %}
            {% endblock %}
          </div>


        <p>
            <br><br>
			Links<br>
			<a href="https://csound.com/">Csound</a><br>
			<a href="https://www.youtube.com/watch?v=C3LK5ELvZwI">Portishead Glory Box Live</a><br>
		</p>

    </body>

    <footer>
      <p align="right">Posted by: Zombie Fan</p>
    </footer>
</html>