<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listen & debug</title>
    </head>

    <body>
        <h2>Welcome to the world of musician and coder</h2>

          <div class="center">
            {% if current_user.is_authenticated %}
            <h4>Logged in as {{ current_user.id }}</h4>
            <a id="nav_home_user" href="{{  url_for('index')  }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nav_chat" href="{{  url_for('chat')  }}">Chat</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nav_gallery" href="{{  url_for('gallery')  }}">Gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nav_logout" href="{{  url_for('logout')  }}">Logout</a>
            {% else %}
              <a id="nav_home_default" href="{{  url_for('index')  }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a id="nav_login" href="{{  url_for('login')  }}">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}

            <br><br>
            {% block content %}
            {% endblock %}
          </div>


        <p>
            <br><br>
			Links<br>
			<a href="https://csound.com/">Csound</a><br>
			<a href="https://www.youtube.com/watch?v=C3LK5ELvZwI">Portishead Glory Box Live</a><br>
		</p>

    </body>

    <footer>
      <p align="right">Powered by: Zombie Fan</p>
    </footer>
</html>