<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css" />
        <script type="text/javascript" src="/static/js/main.js"></script>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="175; http://nerdymusician.com">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <title id="demo">Listen & debug</title>
    </head>

    <body>
    <body>
        <div class="center">
            <h4>Welcome to the world of <a href="https://en.wikipedia.org/wiki/Portishead_(band)">musician</a> and <a href="https://en.wikipedia.org/wiki/Barry_Vercoe">coder</a></h4>
            {% if current_user.is_authenticated %}
            <a id="nav_home_user" href="{{  url_for('index')  }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nav_chat" href="{{  url_for('chat')  }}">Ideas</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nav_gallery" href="{{  url_for('gallery')  }}">Gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nav_logout" href="{{  url_for('logout')  }}">Logout {{ current_user.id }}</a>
            {% else %}
              <a id="nav_home_default" href="{{  url_for('index')  }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a id="nav_login" href="{{  url_for('login')  }}">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}

            <br><br>
            {% block content %}
            {% endblock %}
        </div>


        <p>
            <br><br>
			Links<br>
			<a href="https://csound.com/">Csound</a><br>
			<a href="https://www.youtube.com/watch?v=C3LK5ELvZwI">Portishead Glory Box Live</a><br>
		</p>

    </body>

    <footer>
      <p align="right">Powered by: Zombie Fan</p>
    </footer>
</html>