{% extends "base.html" %}


{% block content %}

	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.msg(cols=32, rows=4) }}<br>
			{{ form.send() }}
			<a href="{{ url_for('chat') }}"><button type="button">Refresh</button></a>
		</p>
	</form>


	{% for msg in msgs %}
	<p><span class="bold {{ 'unread' if msg.msg_id in unread_msgs }}">{{ msg.from_user_id }}</span>&nbsp;({{ format_time_with_tz(msg.timestamp) }})&nbsp;:&nbsp;{{ msg.text }}</p>
	{% endfor %}


{% endblock %}