{% extends "base.html" %}


{% block content %}
	<p class="important">
		<img src="/static/images/{{ curr.image_id }}.{{ curr.format }}" class="responsive">
	</p>
	<p>
		<a href="{{ url_for('image', image_id=prev.image_id) }}">Prev</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="{{ url_for('image', image_id=next.image_id) }}">Next</a>
	</p>
	<p>
		{{  curr.caption  }}
	</p>
	<p class="unread" align="right">
		uploaded by {{  curr.uploaded_by  }} at {{  format_time_with_tz(curr.uploaded_timestamp)  }}
	</p>

	{% for comment in comments %}
		<p><span class="bold">{{ comment.from_user_id }}</span>&nbsp;({{ format_time_with_tz(comment.timestamp) }})&nbsp;:&nbsp;{{ comment.text }}</p>
	{% endfor %}

	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.msg(cols=32, rows=2) }}&nbsp;&nbsp;{{ form.send() }}
		</p>
	</form>

{% endblock %}